    .encab {
        position: relative;
        width: 100%;
        height: 100vh;
        font-family: 'Montserrat', sans-serif;
    }
    
    .hero_image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
    }
    
    .hero_title {
        bottom: 5%;
        right: 5%;
        padding: 15px;
        color: white;
        font-size: 4rem;
        position: absolute;
    }
    
    .logo {
        margin-bottom: 2.5rem;
        height: 200px;
        width: 200px;
    }
    
    @media screen and (max-width: 820px) {
        .encab {
            position: relative;
            width: 100%;
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .hero_image {
            width: 100%;
            height: 500px;
            object-fit: cover;
            position: absolute;
        }
        .hero_title {
            position: absolute;
            bottom: 15%;
            right: 5%;
            color: white;
            font-size: 2rem;
            padding: 15px;
        }
        .logo {
            height: 150px;
            width: 150px;
        }
    }
    
    @media screen and (max-width: 450px) {
        .encab {
            position: relative;
            width: 100%;
            height: 500px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }
        .hero_image {
            width: 100%;
            height: 500px;
            object-fit: cover;
            position: absolute;
        }
        .hero_title {
            position: absolute;
            bottom: 15%;
            right: 5%;
            color: white;
            font-size: 1.5rem;
            padding: 15px;
        }
        .logo {
            height: 100px;
            width: 100px;
        }
    }