body {
    margin: 0;
    background-attachment: fixed;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

form {
    height: 100vh;
    margin: auto;
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 20px;
    box-sizing: border-box;
    border-radius: 7;
    -webkit-box-shadow: 5px 5px 15px 5px #000000;
    box-shadow: 5px 5px 15px 5px #000000;
}

.background-login {
    background-image: url("./../../assets/img/pizza-3007395_1280.jpg");
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-portada {
    background-position: center;
    height: 95vh;
    background-size: cover;
}

.login-portada-text {
    margin-top: 12vh;
    height: 85vh;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.7);
}

.login-icon {
    color: var(--gunmetal);
    font-size: 30px;
    margin-top: 5px;
}

.login-input {
    width: 50vw !important;
}

.login-button {
    height: 60px;
    margin: 3px;
}

.container-buttons {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.errors {
    font-size: small;
    height: 20px;
    margin-top: 0px;
}