.carousel-image{
    max-height: 55vh;
    max-width: 100vw;
    object-fit: cover;
    object-position: top;
    
}
/*.carousel-img{
    max-height: 50vh;
    object-fit: cover;
    object-position: top;
    margin-top: 5px;
}*/
