@import url("https://fonts.googleapis.com/css2?family=Italianno&family=Roboto+Serif:ital,wght@1,100;1,200&display=swap");
.header {
    background-color: #22A428;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo {
    color: brown;
    font-weight: 200;
    margin-right: 1rem;
    margin-left: 1rem;
    text-decoration: none;
    font-family: 'Italianno', cursive;
    font-size: 3rem;
}

.logo {
    width: 9rem;
}

.headerLink {
    font-weight: bold;
    color: azure;
}