.main-footer {
    color: white;
    background-color: #E13D3D;
    padding-top: 1em;
    position: relative;
    bottom: 0;
    width: 100%;
}

.tituloBuon {
    color: brown;
    font-weight: 200;
    margin-right: 1rem;
    margin-left: 1rem;
    text-decoration: none;
    font-family: 'Italianno', cursive;
    font-size: 3rem;
}